* {
  max-width: 700px;
  margin: auto;
           
}


body {
    min-width: 500px;
    
}

div {
  border-radius: 5px;
}

#header {
  height: 40px;
  width: 100%;
  background-color:  #3333cc;
  position: fixed;
  z-index: 1;
  color: #FFFFFF;
}

#title {
  margin-left: 3%;
}

#footer {
  height: 50px;
  width: 100%;
  background-color:  #3333cc;
  clear: both;
  position: relative;
  color: #FFFFFF;
}

.left {
  height: 1000px;
  width: 45px;
  background-color: #666699;
  float: left;
  position: fixed;
}

.right {
  height: 1050px;
  width: 45px;
  background-color: #666699;
  float: right;
  position: inherit;
}

.stuff {
  display: inline-block;
  margin-top: 6px;
  margin-left: 55px;
  width: 85%;
  height: 1000px;
}

p,
li {
  font-family: 'Palatino Header';
}

.head {
  font-size: 30px;
  font-style:bold;
}

#name {
  font-family: Sacramento;
  float: right;
  margin-top: 10px;
  margin-right: 4%;
}

